$backgroundColor: #54595f;

.lesson{
  height: 450px;
  position: relative;
  margin-top: 50px;
}

.lesson__info{
  position: absolute;
  bottom: 0;
  background-color: $backgroundColor;
  color: #fff;
  padding: 30px 25px;
  h4{
    font-family: 'Prata', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.33;
    text-align: center;
  }
  p{
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
  .button__wrapper{
    .button{
      p{
        font-weight: 700;
      }
    }
  }
}
