@charset "UTF-8";
/*
// Estilos personalizados para las páginas
*/
h1{
  color: #c2b697 !important;
  margin-bottom: 50px;
}
h2 {
  font-size: 30px !important;
  margin-bottom: 30px;
}

h3{
  font-size: 25px !important;
  margin-bottom: 25px;
}

  .button {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer; }
    .button p {
      margin: 0; }

  .button__wrapper {
    width: 200px;
    padding-top: 20px;
    margin: 0 auto; }

  .button--golden {
    background-color: #c2b697;
    color: #fff; }

  .button--white {
    background-color: #fff;
    color: #000; }

    .subscribe {
      background-color: #c2b697;
      color: #fff;
      padding: 50px 0; }
      .subscribe h2 {
        font-size: 28px;
        text-align: center;
        color: #fff; }
      .subscribe i {
        font-family: 'Libre Baskerville', serif;
        font-weight: 300;}
