.subscribe {
  background-color: #c2b697;
  color: #fff;
  padding: 40px 0 0 0;
  margin-top: 45px;}
  .subscribe h2 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px!important;}
  .subscribe i {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
  }
  .subscribe p{
    text-align: center;
    margin-bottom: 15px;
  }

  .subscribe__field-container{
    margin:0;
    padding: 0;
    border: 0;
  }

  .subscribe__text-input-container{
    display: flex;
    justify-content: center;
  }

  .subscribe__text-input-label{
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  .subscribe__text-input{
    width: 50%;
    height: 30px;
  }

  .subscribe__checkbox-container{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15px;
  }

  .subscribe__checkbox-text{
    text-align: center;
    font-size: 14px;
  }

  .subscribe__checkbox-option{
    display: block;
    margin: 0 auto;
    font-size: 16px;
  }

  .subscribe__checkbox{
    transform: scale(1.2);
    margin-right: 10px;
  }

  .subscribe__button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .subscribe__result{
    padding: 15px 0;
    text-align: center;
  }

  .popUp{
    display: none;
    width: 90%;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 30px;
    left: 5%;
    z-index: 2;
  }

  .popUp__close{
    color: #fff;
    font-weight: bold;
  }

  .popUp__x{
    cursor: pointer;
  }

  .popUp__title-container{
    background-color:  #c2b697;
    padding: 5px 10px 1px 10px;
  }

  .popUp__title{
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 0;
  }

  .popUp__text{
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
  }

@media screen and (min-width: 768px) {
  .popUp__close{
    text-align: right;
  }
}

@media screen and (min-width: 992px) {
  .popUp{
    width: 500px;
    bottom: 10px;
    left: 10px;
  }
}
