$introTitleColor: #899296;
$TextColor: #42474c;
$introBackgroundColor: #f9f9f9;
$elmentPaddingXS: 5%;
$elementBottomMarginXS: 5%;
$elementPaddingSmall: 3%;
$elementBottomMarginSmall: 3%;

.container{
  color: $TextColor;
}

p{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
}

.introduction{
  background-color: $introBackgroundColor;
  padding: $elmentPaddingXS;
  h1{
    color: $introTitleColor;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: $elementBottomMarginXS;
  }
}

.approach{
  margin: 10% 0;
}

.approach__text{
  h2{
    font-size: 40px;
    span{
      font-family: 'Libre Baskerville', serif;
      font-weight: 400;
    }
  }
  h6{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
    margin-bottom: $elementBottomMarginXS;
  }
}

.approach__picture-button__button{
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #c2b697;
  border-radius: 5px;
  padding: 6%;
  p{
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    cursor: pointer;
  }
}

.approach__divider{
  width: 70px;
  height: 1px;
  background-color: #000;
  margin-top: 10%;
  margin-bottom: 10%;
}

@media screen and (min-width:576px){
  .intro{
    padding: $elementPaddingSmall;
    h1{
      margin-bottom: $elementBottomMarginSmall;
    }
  }

  .approach{
    margin: 8% 0;
  }

  .approach__divider{
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .approach__picture-button__button{
    width: 85%;
    padding: 5%;
  }
}

@media screen and (min-width:992px){
  .approach{
    display: flex;
  }

  .approach:nth-child(even){
    .approach__text{
      order: 2;
    }
    .approach__picture-button{
      order: 1;
    }
  }
}
